/*
Project Name: FEWD FILL THIS [SPACE]
Author: MATKINSON
*/

/*font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
font-family: 'Crimson Text', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rokkitt', serif;
font-family: 'Cormorant Garamond', serif;*/
/*font-family: 'Cinzel', serif;*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

html {
	font-size: 20px;
}

a {
	text-decoration: none;
	color: white;
}

img {
	object-fit: contain;
	width: 100%;
}

/******************************************
/* FONT STYLES
/*******************************************/

h1, a, p, .space-title-placeholder, footer {
	font-family: 'Cormorant Garamond', serif;
}

span  {
	font-family: 'Roboto Mono', monospace;
}

nav a {
	font-family: 'Futura';
	text-transform: uppercase;
}

h2 {
	font-family: 'Futura';
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.container {
	display: block;
  	margin: 0 auto;
  	max-width: 90%;
}

.teasers, .bios {
	padding: 1.25%;
}

.teasers-block, .teasers-small-block, .bio-block, .about-block {
	background: no-repeat center;
	background-size: cover;
	height: 0;
	margin: 2.5%;
	position: relative;
}

.teasers-block, .teasers-small-block, .bio-block, .about-block {
	padding-bottom: 95%;
	width: 95%;
}

.big-teaser-content, .small-teaser-content, .bio-block-content, .about-block-content {	
	padding: 0.5rem;	
}

.big-teaser-content h2, .small-teaser-content h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sliding-text, {
	bottom: 1rem;
	position: absolute;
}

.bio-block-content {
	bottom: 0.5rem;
	position: absolute;
}


/******************************************
/* HEADER STYLES
/*******************************************/

/*Home Page Header*/

.home-header {
	background: url("../images/kyoto.jpg") no-repeat center;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.home-header .top-bar {
	background-color: rgba(59, 61, 63, 0.8);
}

.home-nav-bar {
	bottom: 1rem;
	left: 5%;
	position: absolute;
	width: 90%;
}

.home-header nav a {
	color: #FFF;
	font-size: 1rem;
}

.home-header span a {
	border-bottom: solid #FFF 3px;
}

/*General Header*/

h1 {
	display: none;
}

.other-header {
	color: white;
}

.top-bar {
		background-color: rgba(59, 61, 63, 1);
		padding: 1rem 0;
}

.space-title-placeholder {
	color: #FFF;
	float: left;
	font-size: 1rem;
}

.social-media {
	float: right;
}

.social-media li {
	display: inline;
	padding: 0 0.5rem
}


.social-media li:nth-child(-n+3) {
	display: none;
}

.social-media li:last-child {
	padding-right: 0;
}

nav {
	text-align: center;
	display: none;
}

nav li {
	display: inline-block;
	padding: 0 3rem;
}

nav li:first-child {
	padding-left: 0;
}

nav li:last-child {
	padding-right: 0;
}

.other-header nav a {
	color: rgb(59, 61, 63);
	font-size: 1rem;
}

.other-header span a {
	border-bottom: solid rgb(59, 61, 63) 3px;
}

.fa-bars {
	color: #FFF;
}

.nav-bar {
	clear: both;
}



/******************************************
/* TEASER STYLES
/*******************************************/

h2 {
	color: #FFF;
}

p {
	color: #FFF;
}

.sliding-text {
	display: none;
}


/******************************************
/* FOOTER STYLES
/*******************************************/


.copyright {
	color: #000;
	font-weight: 600;
	text-align: center;
	font-size: 0.75rem;
	padding-bottom: 1rem;
}

.small-mobile-footer {
	text-align: center;
}

.small-mobile-footer li {
	display: inline-block;
	margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.small-mobile-footer .fa {

  	border-radius: 50%;
  	font-size: 0.5rem;
  	padding: 0.5rem;
  	text-align: center;
  	width: 1.5rem;
}
	
.small-mobile-footer a {
	background-color: #10425d;
	color: white;
	}


/******************************************
/* THEME LIST PAGE STYLES
/*******************************************/

.theme:nth-child(5n+1) {
	background-color: #278ba0;
}

.theme:nth-child(5n+2) {
	background-color: #79bc50;
}

.theme:nth-child(5n+3) {
	background-color: #d37c96;
}

.theme:nth-child(5n+4) {
	background-color: #10425d;
}

.theme:nth-child(5n+5) {
	background-color: #05210f;
}

/******************************************
/* ABOUT PAGE STYLES
/*******************************************/

.about-block {
	background-color: #10425d;
}

.bio-block:nth-child(3n+1) {
	background-color: #278ba0;
}

.bio-block:nth-child(3n+2) {
	background-color: #d37c96;
}

.bio-block:nth-child(3n+3) {
	background-color: #79bc50;
}

.bio-block h2 {
	padding-bottom: 0.5rem;
}

.bio-block .social-media {
	padding-top: 0.5rem;
}



/******************************************
/* RESPONSIVE STYLES
/*******************************************/


@media screen and (min-width: 414px) {

/*General Header*/

	.social-media li:nth-child(-n+3) {
		display: inline-block;
	}

	.small-mobile-footer {
	display: none;
	}

@media screen and (min-width: 665px) {

	.teasers li {
		float: left;
	}

	.teasers-block {
		padding-bottom: 97.5%;
		width: 97.5%;
	}

	.teasers-small-block {
		padding-bottom: 47.5%;
		width: 47.5%;	
	}

	.teasers-block, .teasers-small-block {
	margin: 1.25%;	
	}
}

@media screen and (min-width: 755px) {

	.container {
		max-width: 95%;
	}

	.bio-block {
	float:left;
	padding-bottom: 30.83333333333333%;
	width: 30.83333333333333%;
	}

	.about-block {
		padding-bottom: 97.5%;
		width: 97.5%;
	}

	.bio-block, .about-block {
	margin: 1.25%;
	}
}

@media screen and (min-width: 968px) {


	.social-media li:last-child {
		display: none;
	}

	.social-media li:nth-child(3) {
		padding-right: 0;
	}

	nav {
	display: inline-block;
	}

	.nav-bar {
		background-color: #FFF;
		padding: 1rem 0;
		text-align: center;
	}

	.home-nav-bar {
		position: absolute;
		bottom: 1rem;
		left: 5%;
		text-align: center;
		width: 90%;
	}

	.teasers, .bios {
		padding-top: 0;
	}

	nav li {
		padding: 0 3rem;
	}

	nav li:first-child {
		padding-left: 0;
	}

	nav li:last-child {
		padding-right: 0;
	}

	nav a {
		font-size: 1rem;
	}

}










