/*
Project Name: FEWD FILL THIS [SPACE]
Author: MATKINSON
*/

/*font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
font-family: 'Crimson Text', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rokkitt', serif;
font-family: 'Cormorant Garamond', serif;*/
/*font-family: 'Cinzel', serif;*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

html {
	font-size: 20px;
}
/*body {

}

footer {*/

a {
	text-decoration: none;
	color: white;
}

img {
	object-fit: contain;
	width: 100%;
}

/******************************************
/* FONT STYLES
/*******************************************/

h1, a, p, .space-title-placeholder, footer {
	font-family: 'Cormorant Garamond', serif;
}

span {
	font-family: 'Roboto Mono', monospace;
}

nav a {
	font-family: 'Open Sans', serif;
	text-transform: uppercase;
}

h2 {
	font-family: 'Open Sans';
}




/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.container {
	display: block;
  	margin: 0 auto;
  	max-width: 95%;
}

.teasers {
	padding: 1.25%;
}

.teasers li {
	float: left;
}

.teasers-block, .teasers-small-block {
	background: no-repeat center;
	background-size: cover;
	height: 0;
	margin: 1.25%;
	position: relative;

}

.teasers-block {
	padding-bottom: 97.5%;
	width: 97.5%;
}

.teasers-small-block {
	padding-bottom: 47.5%;
	width: 47.5%;	
}

.big-teaser-content {

}

.big-teaser-content, .small-teaser-content {
	
	padding: 1rem;
	
}


.big-teaser-content h2, .small-teaser-content h2 {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sliding-text {
	bottom: 1rem;
	position: absolute;
}


/******************************************
/* HEADER STYLES
/*******************************************/

/*Home Page Header*/

.home-header {
	background: url("../images/flags.jpg") no-repeat center;
	background-size: cover;
	height: 100vh;
	padding-top: 1rem;
}

.home h1 {
	display: none;
}

/*General Header*/

header {
	position: relative;
}

.other-header {
	padding: 1rem 0;
	background-color: grey;
	color: white;
	height: 15rem;
}


.space-title-placeholder {
	color: #FFF;
	float: left;
	font-size: 1rem;
}

.social-media {
	float: right;
}

.social-media li {
	display: inline;
	padding: 0 0.5rem
}

nav {
	text-align: center;
	position: absolute;
	bottom: 1rem;
	left: 5%;
	width: 90%;
}

nav li {
	display: inline-block;
	padding: 0 3rem;
}

nav li:first-child {
	padding-left: 0;
}

nav li:last-child {
	padding-right: 0;
}

nav a {
	font-size: 1rem;
}

/******************************************
/* TEASER STYLES
/*******************************************/

h2 {
	color: #FFF;
}

p {
	color: #FFF;
}


/******************************************
/* FOOTER STYLES
/*******************************************/


.copyright {
	color: #000;
	font-weight: 600;
	text-align: center;
	font-size: 15px;
	padding-bottom: 1rem;

}

/******************************************
/* ABOUT PAGE STYLES
/*******************************************/








