/*
Project Name: FEWD FILL THIS [SPACE]
Author: MATKINSON
*/

/*font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
font-family: 'Crimson Text', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rokkitt', serif;
font-family: 'Cormorant Garamond', serif;*/
/*font-family: 'Cinzel', serif;*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

html {
	font-size: 20px;
}

a {
	text-decoration: none;
	color: white;
}

img {
	object-fit: contain;
	width: 100%;
}


/******************************************
/* FONT STYLES
/*******************************************/

h1, a, p, .space-title-placeholder, footer {
	font-family: 'Cormorant Garamond', serif;
}

span  {
	font-family: 'Roboto Mono', monospace;
}

nav a, .overlay a {
	font-family: 'Futura';
	text-transform: uppercase;
}

h2 {
	font-family: 'Futura';
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.container {
	display: block;
  	margin: 0 auto;
  	max-width: 90%;
}

.teasers, .bios {
	display: flex;
	flex-flow: row wrap;
	padding: 2.5vw;
	padding-bottom: 1.25vw;
	padding-top: calc(60px + 2.5vw);

}

.home-teasers .teasers {
	padding-top: 2.5%;
}


.teasers-block, .teasers-small-block, .bio-block, .about-block {
	background: no-repeat center;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 90vw;
	margin: 2.5vw; 
	width: 90vw;
}


.big-teaser-content, .small-teaser-content, .bio-block-content, .about-block-content {	
	padding: 0.5rem;	
}


/*.sliding-text, {
	bottom: 1rem;
	position: absolute;
}*/

/*.bio-block-content {
	bottom: 0.5rem;
	position: absolute;
}*/


/******************************************
/* HEADER STYLES
/*******************************************/

/*Home Page Header*/

header {
	position: relative;
}

.home-header {
	background: url("../images/kyoto.jpg") no-repeat center;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.home-header .top-bar {
	background-color: rgba(59, 61, 63, 0.8);
}

.home-nav-bar {
	bottom: 1rem;
	left: 5%;
	position: absolute;
	width: 90%;
}

.home-header nav a {
	color: #FFF;
	font-size: 1rem;
}

.home-header span a {
	border-bottom: solid #FFF 3px;
}

/*General Header*/

h1 {
	display: none;
}

.other-header {
	color: white;
	position: absolute;
	position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 1000;
}

.header-up {
	top: -120px;
}

.top-bar {
		background-color: rgba(59, 61, 63, 1);
		padding: 1rem 0;
}

.space-title-placeholder {
	color: #FFF;
	float: left;
	font-size: 1rem;
}

.social-media {
	float: right;
}

.social-media li {
	display: inline;
	padding: 0 0.5rem
}


.social-media li:nth-child(-n+3) {
	display: none;
}

.social-media li:last-child {
	padding-right: 0;
}

nav {
	text-align: center;
	display: none;
}

nav li {
	display: inline-block;
	padding: 0 3rem;
}

nav li:first-child {
	padding-left: 0;
}

nav li:last-child {
	padding-right: 0;
}

.other-header nav a {
	color: rgb(59, 61, 63);
	font-size: 1rem;
}

.other-header span a {
	border-bottom: solid rgb(59, 61, 63) 3px;
}

.fa-bars {
	color: #FFF;
	position: relative;
	z-index: 99999;
	
}

.nav-bar {
	clear: both;
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(59, 61, 63,0.8);
	z-index: 1000;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;	
	right: 20px;
	top: 20px;
	overflow-y: scroll;
	border: none;
/*	background: black;*/
	text-indent: 200%;
	color: white;
/*	outline: none;*/
	z-index: 1000;
}

/*.fa-times {
	color: white;
}*/

/* Menu style */
.overlay .nav2 {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	line-height: 1.5;
	font-size: 1.5rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.nav2 span a {
	border-bottom: solid 3px white;
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

/*.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}*/

.overlay ul li a {
	/*font-weight: 300;*/
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover, .overlay ul li a:focus {
	color: #e3fcb1;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
}

.overlay-hugeinc .nav2 {
	perspective: 1200px;
}

.overlay-hugeinc .nav2 ul {
	opacity: 0.4;
	transform: translateY(-25%) rotateX(35deg);
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open ul {
	opacity: 1;
	transform: rotateX(0deg);
}

.overlay-hugeinc.close ul {
	transform: translateY(25%) rotateX(-35deg);
}

/*@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}*/
/*}*/



/******************************************
/* TEASER STYLES
/*******************************************/

h2 {
	color: #FFF;
}

p {
	color: #FFF;
}



.sliding-text {
	display: none;
	height: 90vw;
	width: 90vw;
}


/******************************************
/* FOOTER STYLES
/*******************************************/


.copyright {
	color: #000;
	font-weight: 600;
	text-align: center;
	font-size: 0.75rem;
	padding-bottom: 1rem;
}

.small-mobile-footer {
	text-align: center;
}

.small-mobile-footer li {
	display: inline-block;
	margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.small-mobile-footer .fa {

  	border-radius: 50%;
  	font-size: 0.5rem;
  	padding: 0.5rem;
  	text-align: center;
  	width: 1.5rem;
}
	
.small-mobile-footer a {
	background-color: #10425d;
	color: white;
}


/******************************************
/* THEME LIST PAGE STYLES
/*******************************************/

.theme:nth-child(5n+1) {
	background-color: #278ba0;
}

.theme:nth-child(5n+2) {
	background-color: #79bc50;
}

.theme:nth-child(5n+3) {
	background-color: #d37c96;
}

.theme:nth-child(5n+4) {
	background-color: #10425d;
}

.theme:nth-child(5n+5) {
	background-color: #05210f;
}

.theme {
/* 	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: space-around;*/
}


.theme-titles a {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.theme-titles a:nth-child(1) {
	background-color: rgba(255, 255, 255, 0.667);
	border-bottom: solid 2px rgb(255, 255, 255);
}

.theme-titles a:nth-child(2) {
	background-color: rgba(255, 255, 255, 0.333);
	border-bottom: solid 2px rgb(255, 255, 255);
}

.theme-titles a:nth-child(3) {
	background-color: rgba(255, 255, 255, 0);
}

.theme-titles {
	display: none;
 	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: space-around;
	height: 90vw;
	width: 90vw; 
}



/******************************************
/* ABOUT PAGE STYLES
/*******************************************/

.about-block {
	background-color: #10425d;
}

.bio-block:nth-child(3n+1) {
	background-color: #278ba0;
}

.bio-block:nth-child(3n+2) {
	background-color: #d37c96;
}

.bio-block:nth-child(3n+3) {
	background-color: #79bc50;
}

.bio-block h2 {
	padding-bottom: 0.5rem;
}

.bio-block .social-media {
	padding-top: 0.5rem;
}



/******************************************
/* RESPONSIVE STYLES
/*******************************************/


@media screen and (min-width: 414px) {

/*General Header*/

	.social-media li:nth-child(-n+3) {
		display: inline-block;
	}

	.small-mobile-footer {
	display: none;
	}

	.overlay .nav2 {
		font-size: 2.5rem;
	}

@media screen and (min-width: 665px) {

	.teasers, .bios {
		padding: 1.25vw;
		padding-top: calc(60px + 1.25vw);
	}

	.teasers-block {
		height: 95vw;
		width: 95vw;
	}


	.teasers-small-block {
		height: 46.25vw;
		width: 46.25vw;
	}

	.teasers-block, .teasers-small-block {
		margin: 1.25%;	
	}

	.theme-titles {
		height: 46.25vw;
		width: 46.25vw;
}

}

@media screen and (min-width: 755px) {

	.container {
		max-width: 95%;
	}

/*	.bio-block {
	float:left;
	padding-bottom: 30.83333333333333%;
	width: 30.83333333333333%;
	}

	.about-block {
		padding-bottom: 97.5%;
		width: 97.5%;
	}

	.bio-block, .about-block {
	margin: 1.25%;
	}*/

}

@media screen and (min-width: 968px) {


	.social-media li:last-child {
		display: none;
	}

	.social-media li:nth-child(3) {
		padding-right: 0;
	}

	nav {
	display: inline-block;
	}

	.nav-bar {
		background-color: #FFF;
		padding: 1rem 0;
		text-align: center;
	}

	.home-nav-bar {
		position: absolute;
		bottom: 1rem;
		left: 5%;
		text-align: center;
		width: 90%;
	}

	.teasers, .bios {
		padding-top: calc(120px);
	}

	nav li {
		padding: 0 3rem;
	}

	nav li:first-child {
		padding-left: 0;
	}

	nav li:last-child {
		padding-right: 0;
	}

	nav a {
		font-size: 1rem;
	}

}

/****************/
/*Min Height Overlay Correct*/
/****************/

@media screen and (max-height: 512px) {

	.overlay {
		overflow: scroll;
	}

}






